<% include partials/header %>

<div class="container">
    <h1>Sorry, page does not exsist</h1>
    <div class="container">
        <img src="https://www.planwallpaper.com/static/images/7864-download-full-hd-romantic-beach-water-nature-background.jpg"></img>
    </div>
</div>

<% include partials/footer %>